# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
.venv/
env/
venv/

# Distribution / packaging
*.egg-info/
dist/
build/

# Flask and SQLite files
*.db
instance/
uploads/
static/plots/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Jupyter Notebooks
.ipynb_checkpoints/
